.main-section {
    padding: 1px 0;
    .main-container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .main-row {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    div[class^="main-col"] {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

