.block-title {
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #168eff;
    color: #fff;
    padding: 15px;
    &--blue {
        background-color: #168eff;
    }
    &--cream {
        background-color: #eacd9a;
    }
    &--white {
        border-bottom: solid 1px #999;
    }
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        color: inherit;
    }
}
