
.main-col {
    display: inline-block;
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

.main-col-1, .main-col-2, .main-col-3, .main-col-4, .main-col-5, 
.main-col-6, .main-col-7, .main-col-8, .main-col-9, .main-col-10, .main-col-11, .main-col-12,
.main-col-sm, .main-col-sm-1, .main-col-sm-2, .main-col-sm-3, .main-col-sm-4, .main-col-sm-5, 
.main-col-sm-6, .main-col-sm-7, .main-col-sm-8, .main-col-sm-9, .main-col-sm-10, .main-col-sm-11, .main-col-sm-12,
.main-col-md, .main-col-md-1, .main-col-md-2, .main-col-md-3, .main-col-md-4, .main-col-md-5, 
.main-col-md-6, .main-col-md-7, .main-col-md-8, .main-col-md-9, .main-col-md-10, .main-col-md-11, .main-col-md-12,
.main-col-lg, .main-col-lg-1, .main-col-lg-2, .main-col-lg-3, .main-col-lg-4, .main-col-lg-5, 
.main-col-lg-6, .main-col-lg-7, .main-col-lg-8, .main-col-lg-9, .main-col-lg-10, .main-col-lg-11, .main-col-lg-12,
.main-col-xl, .main-col-xl-1, .main-col-xl-2, .main-col-xl-3, .main-col-xl-4, .main-col-xl-5, 
.main-col-xl-6, .main-col-xl-7, .main-col-xl-8, .main-col-xl-9, .main-col-xl-10, .main-col-xl-11, .main-col-xl-12
{
    display: inline-block;
    padding: 0 15px;
    width: 100%;
    max-width: 100%
}


    .main-col {
        &-1 {
            width: 8.333%
        }
        &-2 {
            width: 16.666%
        }
        &-3 {
            width: 25%
        }
        &-4 {
            width: 33.333%
        }
        &-5 {
            width: 41.666%
        }
        &-6 {
            width: 50%
        }
        &-7 {
            width: 58.333%
        }
        &-8 {
            width: 66.666%
        }
        &-9 {
            width: 75%
        }
        &-10 {
            width: 83.333%
        }
        &-11 {
            width: 91.666%
        }
        &-12 {
            width: 100%;
        }
    }
    .offset-col {
        &-0 {
                margin-left: 0%
            }
        &-1 {
            margin-left: 8.333%
        }
        &-2 {
            margin-left: 16.666%
        }
        &-3 {
            margin-left: 25%
        }
        &-4 {
            margin-left: 33.333%
        }
        &-5 {
            margin-left: 41.666%
        }
        &-6 {
            margin-left: 50%
        }
        &-7 {
            margin-left: 58.333%
        }
        &-8 {
            margin-left: 66.666%
        }
        &-9 {
            margin-left: 75%
        }
        &-10 {
            margin-left: 83.333%
        }
        &-11 {
            margin-left: 91.666%
        }
        &-12 {
            margin-left: 100%;
        }
    }

@media (min-width: 576px) {
    .main-col-sm {
        width: 100%;
        max-width: 100%
        &-1 {
            width: 8.333%
        }
        &-2 {
            width: 16.666%
        }
        &-3 {
            width: 25%
        }
        &-4 {
            width: 33.333%
        }
        &-5 {
            width: 41.666%
        }
        &-6 {
            width: 50%
        }
        &-7 {
            width: 58.333%
        }
        &-8 {
            width: 66.666%
        }
        &-9 {
            width: 75%
        }
        &-10 {
            width: 83.333%
        }
        &-11 {
            width: 91.666%
        }
        &-12 {
            width: 100%;
        }
    }
    .offset-col-sm {
        &-0 {
                margin-left: 0%
            }
        &-1 {
            margin-left: 8.333%
        }
        &-2 {
            margin-left: 16.666%
        }
        &-3 {
            margin-left: 25%
        }
        &-4 {
            margin-left: 33.333%
        }
        &-5 {
            margin-left: 41.666%
        }
        &-6 {
            margin-left: 50%
        }
        &-7 {
            margin-left: 58.333%
        }
        &-8 {
            margin-left: 66.666%
        }
        &-9 {
            margin-left: 75%
        }
        &-10 {
            margin-left: 83.333%
        }
        &-11 {
            margin-left: 91.666%
        }
        &-12 {
            margin-left: 100%;
        }
    }
}


@media (min-width: 768px){
    .main-col-md {
        width: 100%;
        max-width: 100%
        &-1 {
            width: 8.333%
        }
        &-2 {
            width: 16.666%
        }
        &-3 {
            width: 25%
        }
        &-4 {
            width: 33.333%
        }
        &-5 {
            width: 41.666%
        }
        &-6 {
            width: 50%
        }
        &-7 {
            width: 58.333%
        }
        &-8 {
            width: 66.666%
        }
        &-9 {
            width: 75%
        }
        &-10 {
            width: 83.333%
        }
        &-11 {
            width: 91.666%
        }
        &-12 {
            width: 100%;
        }
    }
    .offset-col-md {
        &-0 {
            margin-left: 0%
        }
        &-1 {
            margin-left: 8.333%
        }
        &-2 {
            margin-left: 16.666%
        }
        &-3 {
            margin-left: 25%
        }
        &-4 {
            margin-left: 33.333%
        }
        &-5 {
            margin-left: 41.666%
        }
        &-6 {
            margin-left: 50%
        }
        &-7 {
            margin-left: 58.333%
        }
        &-8 {
            margin-left: 66.666%
        }
        &-9 {
            margin-left: 75%
        }
        &-10 {
            margin-left: 83.333%
        }
        &-11 {
            margin-left: 91.666%
        }
        &-12 {
            margin-left: 100%;
        }
    }
}

@media (min-width: 998px){
    .main-col-lg {
        width: 100%;
        max-width: 100%
        &-1 {
            width: 8.333%
        }
        &-2 {
            width: 16.666%
        }
        &-3 {
            width: 25%
        }
        &-4 {
            width: 33.333%
        }
        &-5 {
            width: 41.666%
        }
        &-6 {
            width: 50%
        }
        &-7 {
            width: 58.333%
        }
        &-8 {
            width: 66.666%
        }
        &-9 {
            width: 75%
        }
        &-10 {
            width: 83.333%
        }
        &-11 {
            width: 91.666%
        }
        &-12 {
            width: 100%;
        }
    }
    .offset-col-lg {
        &-0 {
            margin-left: 0%
        }
        &-1 {
            margin-left: 8.333%
        }
        &-2 {
            margin-left: 16.666%
        }
        &-3 {
            margin-left: 25%
        }
        &-4 {
            margin-left: 33.333%
        }
        &-5 {
            margin-left: 41.666%
        }
        &-6 {
            margin-left: 50%
        }
        &-7 {
            margin-left: 58.333%
        }
        &-8 {
            margin-left: 66.666%
        }
        &-9 {
            margin-left: 75%
        }
        &-10 {
            margin-left: 83.333%
        }
        &-11 {
            margin-left: 91.666%
        }
        &-12 {
            margin-left: 100%;
        }
    }
}

@media (min-width: 1200px){
    .main-col-xl {
        width: 100%;
        max-width: 100%
        &-1 {
            width: 8.333%
        }
        &-2 {
            width: 16.666%
        }
        &-3 {
            width: 25%
        }
        &-4 {
            width: 33.333%
        }
        &-5 {
            width: 41.666%
        }
        &-6 {
            width: 50%
        }
        &-7 {
            width: 58.333%
        }
        &-8 {
            width: 66.666%
        }
        &-9 {
            width: 75%
        }
        &-10 {
            width: 83.333%
        }
        &-11 {
            width: 91.666%
        }
        &-12 {
            width: 100%;
        }
    }
    .offset-col-xl {
        &-0 {
            margin-left: 0%
        }
        &-1 {
            margin-left: 8.333%
        }
        &-2 {
            margin-left: 16.666%
        }
        &-3 {
            margin-left: 25%
        }
        &-4 {
            margin-left: 33.333%
        }
        &-5 {
            margin-left: 41.666%
        }
        &-6 {
            margin-left: 50%
        }
        &-7 {
            margin-left: 58.333%
        }
        &-8 {
            margin-left: 66.666%
        }
        &-9 {
            margin-left: 75%
        }
        &-10 {
            margin-left: 83.333%
        }
        &-11 {
            margin-left: 91.666%
        }
        &-12 {
            margin-left: 100%;
        }
    }
}